.cart .logo{
	margin-top:30px;
}
.cart .logo h1 .top{
	display: block;
	margin:0 auto;
}
.cart div.site{
	height:65px;
	line-height:65px;
	font-size:16px;
}
.order .site{
	border-bottom: 1px solid #dbdbdb;
}
.cart div.site p a{
	text-decoration: underline;
}
.cart div.site .top{
	margin-left:290px;
	margin-top: 10px;
}
.change{
	margin: 54px 0;
}
.table .th{
	display: flex;
	height:146px;
	border-bottom: 1px dashed #dbdbdb;
}
.table .tr:first-child{
	display: flex;
	text-align: center;
}
.table .th:nth-last-child(3){
	border-bottom: none;
}

.table .tr{
	height:40px;
	line-height: 40px;
	background: #e9e9e9;
	border-bottom: none;
}
.table .th:last-child{
	display: block;
}
.table .th div:nth-child(1),.table .tr:first-child div:nth-child(1){
	flex: 3;
}
.table .th div:nth-child(2),.table .tr:first-child div:nth-child(2){
	flex: 1;
}
.table .th div:nth-child(3),.table .tr:first-child div:nth-child(3){
	flex: 2;
}
.table .th div:nth-child(4),.table .tr:first-child div:nth-child(4){
	flex: 1;
}
.table .th div:nth-child(5),.table .tr:first-child div:nth-child(5){
	flex: 1;
}
.table .th a.del{
	text-decoration: underline;
}
.table .th .price{
	line-height:146px;
}
.table .th .pro{
	text-align:left;
}
.table .th .pro dl{
	margin-top:13px;
}
.table .th .pro dl dt{
	margin-right:13px;
}
.table .th .pro dl dd{
	position: relative;
	color:#777;
	padding:0 10px 10px;
	border:1px dashed #fff;
}
.table .th .pro dl dd span.edit{
	position: absolute;
	right:0;
	bottom:0;
	color:#C10000;
}
.table .th .pro dl dd div.change{
	position: absolute;
	right:0;
	top:-10px;
	width:300px;
	height:300px;
	background: #fff;
	display: none;
}
.table .th .pro dl dd.on{
	border:1px dashed #C10000;
}
.table .th .pro dl dd p{
	line-height: 20px;
}
.table .th .pro dl dd p:nth-child(1){
	color:#262626;
	line-height: 40px;
}
.table .th .number p{
	width:81px;
	margin:60px auto 0;
}
.table .th .number p span{
	width:27px;
	height:27px;
	line-height:27px;
	text-align: center;
}
.table label{
	width: 16px;
	height: 16px;
	margin:65px 17px 0 20px;
	position: relative;
}
.table .tr label{
	margin:13px 17px 0 20px;
}
.table  label input[type="checkbox"]{
	opacity: 0;
	width:16px;
	height:16px;
	position: absolute;
}
.table  label input + span{
	position: absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	background: url(imgs/check.jpg);
}
.table  label input[type=checkbox]:checked + span{
	position: absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	background: url(imgs/checkOn.jpg);
}
.table .tr p:last-child a,
.table .tr p:last-child span{
	float: left;
}
.table .tr p:last-child span:first-child{
	margin-right:90px;
	color: #777;
}
.table .tr p:last-child a{
	margin-left:40px;
	width:150px;
	text-align: center;
	color: #fff;
	background: #8e8e8e;
}
.table .tr p small{
	color: #c10000;
}
.table .tr p .del{
	margin-left:20px;
	margin-top: -25px;
}
.table .goOn{
	height:500px;
	line-height:500px;
	font-size: 16px;
	color:#666;
	text-align: center;
	display: none;
}
.table .goOn a{
	color: #C10000;
	text-decoration: underline;
}
.table .th{
	display: flex;
	height:146px;
	border-bottom: 1px dashed #dbdbdb;
}
.table .tr:first-child{
	display: flex;
	text-align: center;
}
.table .th:nth-last-child(3){
	border-bottom: none;
}

.table .tr{
	height:40px;
	line-height: 40px;
	background: #e9e9e9;
	border-bottom: none;
}
.table .th:last-child{
	display: block;
}
.table .th div:nth-child(1),.table .tr:first-child div:nth-child(1){
	flex: 3;
}
.table .th div:nth-child(2),.table .tr:first-child div:nth-child(2){
	flex: 1;
}
.table .th div:nth-child(3),.table .tr:first-child div:nth-child(3){
	flex: 2;
}
.table .th div:nth-child(4),.table .tr:first-child div:nth-child(4){
	flex: 1;
}
.table .th div:nth-child(5),.table .tr:first-child div:nth-child(5){
	flex: 1;
}
.table .th a.del{
	text-decoration: underline;
}
.table .th .price{
	line-height:146px;
}
.table .th .pro{
	text-align:left;
}
.table .th .pro dl{
	margin-top:13px;
}
.table .th .pro dl dt{
	margin-right:13px;
}
.table .th .pro dl dd{
	position: relative;
	color:#777;
	padding:0 10px 10px;
	border:1px dashed #fff;
}
.table .th .pro dl dd span.edit{
	position: absolute;
	right:0;
	bottom:0;
	color:#C10000;
}
.table .th .pro dl dd div.change{
	position: absolute;
	right:0;
	top:-10px;
	width:300px;
	height:300px;
	background: #fff;
	display: none;
}
.table .th .pro dl dd.on{
	border:1px dashed #C10000;
}
.table .th .pro dl dd p{
	line-height: 20px;
}
.table .th .pro dl dd p:nth-child(1){
	color:#262626;
	line-height: 40px;
}
.table .th .number p{
	width:81px;
	margin:60px auto 0;
}
.table .th .number p span{
	width:27px;
	height:27px;
	line-height:27px;
	text-align: center;
}
.table label{
	width: 16px;
	height: 16px;
	margin:65px 17px 0 20px;
	position: relative;
}
.table .tr label{
	margin:13px 17px 0 20px;
}
.table  label input[type="checkbox"]{
	opacity: 0;
	width:16px;
	height:16px;
	position: absolute;
}
.table  label input + span{
	position: absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	background: url(imgs/check.jpg);
}
.table  label input[type=checkbox]:checked + span{
	position: absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	background: url(imgs/checkOn.jpg);
}
.table .tr p:last-child a,
.table .tr p:last-child span{
	float: left;
}
.table .tr p:last-child span:first-child{
	margin-right:90px;
	color: #777;
}
.table .tr p:last-child a{
	margin-left:40px;
	width:150px;
	text-align: center;
	color: #fff;
	background: #8e8e8e;
}
.table .tr p small{
	color: #c10000;
}
.table .tr p .del{
	margin-left:20px;
}
.table .goOn{
	height:500px;
	line-height:500px;
	font-size: 16px;
	color:#666;
	text-align: center;
	display: none;
}
.table .goOn a{
	color: #C10000;
	text-decoration: underline;
}
.order .orderCon .orderR .count{
	margin:10px 0;
	border:none;
	font-size:16px;
}
.order .orderCon .orderR .count span:nth-child(2){
	color:#c10000;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}
